@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,700&display=swap");


* {
    
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color: #fff;
	color: #555;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
	scroll-behavior: smooth;
	
}

body {
  padding-top: 60px;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
		html {
			font-size: smaller;
		}
}

.clearfix {zoom: 1}
.clearfix:after {
	content: '.';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}

/*--------- NAV ----------*/
*, ::after, ::before {
	box-sizing: border-box;
}

.nav-icon {
	padding-right: 30px;
}

.navbar-nav > li {
	display: flex;
	align-content: center;

		padding-left:20px;
		padding-right:20px;
	
}

.navbar {
	box-shadow:         2px 1px 10px 6px rgb(77, 77, 77);
	color: white;
}

.navbar-toggler-icon {
	color: grey;
}


/*--------- HEADINGS ----------*/
a {
	text-decoration: none;
	color: black;
	
}

a:hover {
	color: rgb(174, 174, 174);
	transform: scale(1.1);
}

h1, 
h2,
h3 { 
    font-weight: 300;  
}

h1 {
    margin-top: 0; 
    margin-bottom: 20px;
    color: #fff;
    /* font-size: 460%; */
    word-spacing: 2%; 
    
}

h2 {
    /* font-size: 180%; */
    word-spacing: 2%;
    text-align: center;
    margin: 10vh 0 5vh 0;
		letter-spacing: 1px;
		/* color: #fff;
		background-color: black; */
		padding-top: 3vh;
		padding-bottom: 2vh;
}



h3 {
    /* font-size: 110%; */
    margin-bottom: 15px;
}

/*--------- BUTTONS ----------*/



.btn:link{
    
    /* padding: 10px 30px; */
    font-weight: 300;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link {
    background-color: #5DADE2;
    border: 1px solid #5DADE2;
    color: #fff;
    margin-right: 30px;
    margin-left: 15px;
}

.btn-ghost:link {
    border: 1px solid #5DADE2;
    color: #fff;
}



.btn-full:hover,
.btn-full:active,
.btn-body:hover,
.btn-body:active  {
    border: 1px solid #5DADE2;
		background-color: #2486c7;
		color: #fff;
		
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #5DADE2;
    background-color: #5DADE2;
		color: #fff;
		
}

.btn-body {
	background-color: #5DADE2;
    border: 1px solid #5DADE2;
    color: #fff;
}


/*--------------LINKS---------------*/

.link,
.tech {
    text-decoration: none;
    color: #5DADE2;
} 
/*--------------------------------------*/
/* HEADER AND NAV*/ 
/*--------------------------------------*/


@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
		.cover-img {
			width: 100%;
			height: 30vh;
		}
}

.nav-link {
	text-align: center;
	font-size: smaller;
	color: black;
	
}

.social-links {
	display: flex;
}

.navbar {
	/* background: linear-gradient(#dfdfdf, white, white, white, #dfdfdf); */
	background-color: rgb(237, 241, 247);
	
}
	


/*--------------------------------------*/
/* ABOUT ME */ 
/*--------------------------------------*/
.about{
	/* padding: 80px 50px 20px 50px; */
	color: #fff;
	background-color: black;
	padding-top: 3%;
	
}

.about-btn {
	/* margin: 5% 0 5% 65%;	 */
	padding: 20px 19px 100px 0;
}
.about-btn-group {
	display: flex;
	justify-content: flex-end;
	
}

.jumbotron {
	margin: 0 4% 0 4%;
	background-color: black;
}
/*--------------------------------------*/
/* CONTACT */ 
/*--------------------------------------*/
.contact {
	background: linear-gradient(#dfdfdf, white, white, white, #dfdfdf)
}
/*--------------------------------------*/
/* EXPERIENCE AND EDUCATION */ 
/*--------------------------------------*/
#experienceSection {
	padding: 1% 2% 0 2%;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.experience-img {
	height: 25vh;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
		.experience-img {
			height: 15vh;
		}
}



.education-card {
	text-align: center;
	padding: 4% 0 1% 0;

}

.fa-circle {
	font-size: 20%;
}

.about-btn2 {
	margin: 5% 0 5% 5%;
}

/*--------------------------------------*/
/* TECH STACK */ 
/*--------------------------------------*/
.technologies {
	background: linear-gradient(#dddfe6, white, white, white, #dddfe6);
	padding-bottom: 10%;
}

.img {
	width: 10vw;
	
}

.logo {
	text-align: center;
	padding: 15px;
}


.logos-container-row1, .logos-container-row2 {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-content: space-around;
}

/*--------------------------------------*/
/* PORTFOLIO */ 
/*--------------------------------------*/

.projects-heading {
	background-color: black;	
	color: white;
	font: bold;
	
}

#projectSection {
	background-color: black;
	color: white;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.btn-link a{
	
	color: #fff !important;
	text-decoration: none;
}
.btn-link {
margin: 3% 1% 5% 1%;
text-decoration: none;
}
/* .portfolio_area {
	color: white;
	background-color: black;
} */

.projectListItem a {
	color: #5DADE2; 
}

.projectListItem a:hover {color: #2486c7;}

.lastItem {
	margin-bottom: 66px;
}


/*--------------------------------------*/


/*--------------------------------------*/
/* FOOTER */ 
/*--------------------------------------*/

footer {
	padding-bottom: 15px;
	background: linear-gradient(#dddfe6, white, white, white, #e1e4eb);
	padding: 10% 0 4% 0;
}
.footer-name {
	color: black;
	font-weight: bolder;
}

.footer-list {
	display: flex;
	justify-content: center;
}

.social-item {
	padding: 15px 15px 0 15px;
}


.grow { 
	transition: all .2s ease-in-out; 
	}
	
	.grow:hover { 
	transform: scale(1.1); 
	}

	/* For Mobile */
/* ----------- iPhone 6+, 7+ and 8+, x and tablet ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
		font-size: 16px;
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
		.text-box {
		font-size: 16px;
}}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
		font-size: 16px;
}