@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,700&display=swap");


* {
    
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color: #fff;
	color: #555;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 2.2vw;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
	scroll-behavior: smooth;
	
}

.clearfix {zoom: 1}
.clearfix:after {
	content: '.';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}

/*--------- NAV ----------*/
*, ::after, ::before {
	box-sizing: border-box;
}

.navlinks {
	
}
/*--------- HEADINGS ----------*/


h1, 
h2,
h3 { 
    font-weight: 300;  
}

h1 {
    margin-top: 0; 
    margin-bottom: 20px;
    color: #fff;
    /* font-size: 260%; */
    word-spacing: 2%; 
    letter-spacing: 1px;
}

h2 {
    /* font-size: 180%; */
    word-spacing: 2%;
    text-align: center;
    /* margin-bottom: 30px; */
    letter-spacing: 1px;
}



h3 {
    /* font-size: 110%; */
    margin-bottom: 15px;
}

/*--------- BUTTONS ----------*/

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #5DADE2;
    border: 1px solid #5DADE2;
    color: #fff;
    margin-right: 30px;
    margin-left: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #5DADE2;
    color: #fff;
}



.btn-full:hover,
.btn-full:active,
.btn-body:hover,
.btn-body:active  {
    border: 1px solid #5DADE2;
		background-color: #2486c7;
		color: #fff;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #5DADE2;
    background-color: #5DADE2;
    color: #fff;
}

.btn-body {
	background-color: #5DADE2;
    border: 1px solid #5DADE2;
    color: #fff;
}

/*--------- PARAGRAPHS ----------*/

.long-copy {
    line-height: 145%;
    width: 70%;
    text-align: center;
}
/*--------------LINKS---------------*/

.link,
.tech {
    text-decoration: none;
    color: #5DADE2;
} 
/*--------------------------------------*/
/* HEADER AND NAV*/ 
/*--------------------------------------*/
.cover-img {
	background-image: /* linear-gradient(rgba(0, 0, 0, 0.39), rgba(0, 0, 0, 0.69)),*/ url(./images/hero2.jpg);
	background-size: cover;	
	background-repeat:no-repeat;
	background-position: center center;
	position: relative;
	height: 100vh;
	width: 100%;	
}

.cover-container {
	height: 100vh;
	position: relative;
	
}

.text-box {
	width: fit-content;
	
	padding: 10% 0 10% 3%;
	
	
}



/* ----MAIN NAV---- */
.main-nav {
	float: right;
	list-style: none;
	padding-top: 44px;
}

.main-nav li {
	display: inline-block;
	margin: 2px 0 15px 40px;
}

.main-nav li a:link, 
.main-nav li a:visited {
	padding: 8px 0;
	color: #fff;
	text-decoration: none;
	font-size: 90%;
	border-bottom: 2px solid #5DADE2 transparent;
	transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
	border-bottom: 2px solid #5DADE2;
}

.nav-link {
	text-align: center;
}
/* ----STICKY NAV---- */
.sticky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.93);
	box-shadow: 0 2px 2px #dddddd;
	z-index: 9999;
}

.sticky .main-nav li a:link, 
.sticky .main-nav li a:visited {
	padding: 15px 0;
	color: #555;
}

.sticky .main-nav {padding-top: 15px;}

/*--------------------------------------*/
/* STICKY BUTTON */ 
/*--------------------------------------*/
.fix-me{
	position:fixed;
	margin-right:0;
	margin-top: 440px;
	color:#38a1db;
	border:4px solid #5DADE2;
	background-color: #fff;
	font-size:24px;
	border-radius: 10%;
	-webkit-border-radius: 10%;
	-moz-border-radius: 10%;
	-ms-border-radius: 10%;
	-o-border-radius: 10%;
	text-decoration: none;
}

/*--------------------------------------*/
/* EXPERIENCE AND EDUCATION */ 
/*--------------------------------------*/
.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.experience-img {
	width: 200px;
}

.education-card {
	text-align: center;
}

.fa-circle {
	font-size: 20%;
}

/*--------------------------------------*/
/* TECH STACK */ 
/*--------------------------------------*/
.img {
	width: 12vw;
}

.logo {
	text-align: center;
}



.logos-container-row1, .logos-container-row2 {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

