@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,700&display=swap");


* {
    
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color: #fff;
	color: #555;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
	scroll-behavior: smooth;
	
}

body {
  padding-top: 60px;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
		html {
			font-size: smaller;
		}
}

.clearfix {zoom: 1}
.clearfix:after {
	content: '.';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}

/*--------- NAV ----------*/
*, ::after, ::before {
	box-sizing: border-box;
}

.nav-icon {
	padding-right: 30px;
}

.navbar-nav > li {
	display: flex;
	align-content: center;

		padding-left:20px;
		padding-right:20px;
	
}
/*--------- HEADINGS ----------*/
a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: grey;
}

h1, 
h2,
h3 { 
    font-weight: 300;  
}

h1 {
    margin-top: 0; 
    margin-bottom: 20px;
    color: #fff;
    /* font-size: 460%; */
    word-spacing: 2%; 
    
}

h2 {
    /* font-size: 180%; */
    word-spacing: 2%;
    text-align: center;
    margin: 10vh 0 5vh 0;
		letter-spacing: 1px;
		/* color: #fff;
		background-color: black; */
		padding-top: 3vh;
		padding-bottom: 2vh;
}



h3 {
    /* font-size: 110%; */
    margin-bottom: 15px;
}

/*--------- BUTTONS ----------*/

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #5DADE2;
    border: 1px solid #5DADE2;
    color: #fff;
    margin-right: 30px;
    margin-left: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #5DADE2;
    color: #fff;
}



.btn-full:hover,
.btn-full:active,
.btn-body:hover,
.btn-body:active  {
    border: 1px solid #5DADE2;
		background-color: #2486c7;
		color: #fff;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #5DADE2;
    background-color: #5DADE2;
    color: #fff;
}

.btn-body {
	background-color: #5DADE2;
    border: 1px solid #5DADE2;
    color: #fff;
}

/*--------- PARAGRAPHS ----------*/

.long-copy {
    line-height: 145%;
    width: 70%;
    text-align: center;
}
/*--------------LINKS---------------*/

.link,
.tech {
    text-decoration: none;
    color: #5DADE2;
} 
/*--------------------------------------*/
/* HEADER AND NAV*/ 
/*--------------------------------------*/
.navbar {

}

/* .img-container {
	padding-top: 2%;
	background-color: black;
	position: relative;
	width: 100%;	
}

.cover-img {
	background-image: url(./images/resumeImages/coverDark.png);
	background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
	animation: slideUp 2s 1 ease-out forwards;
	position: relative;
	
} */
.cover-img {
	background-image: url(./images/resumeImages/jkCover.png) no-repeat center center fixed;
	background-size: cover;	
	/* background-repeat:no-repeat;
	background-position: center center;
	position: relative; */
	background-size:100%;
	background-color: black;
}
/* linear-gradient(rgba(0, 0, 0, 0.39), rgba(0, 0, 0, 0.69)),*/ 
/* height: 100vh;
	width: 100%;	 */
	/* background-attachment: fixed; */

/* .img-container {
	height: 100vh;
} */

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
		.cover-img {
			width: 100%;
			height: 30vh;
		}
}



/* .text-box {
	width: fit-content;
	background-size:contain;
	padding: 15% 0 10% 6%;
	position: absolute;
	top: 15%;
	left: 6%;
  min-height: 250px;
	max-width: 60%;
	background-size:contain;
	
} */



/* ----MAIN NAV---- */
/* .main-nav {
	float: right;
	list-style: none;
	padding-top: 44px;
}

.main-nav li {
	display: inline-block;
	margin: 2px 0 15px 40px;
}

.main-nav li a:link, 
.main-nav li a:visited {
	padding: 8px 0;
	color: #fff;
	text-decoration: none;
	font-size: 90%;
	border-bottom: 2px solid #5DADE2 transparent;
	transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
	border-bottom: 2px solid #5DADE2;
} */

.nav-link {
	text-align: center;
}

.social-links {
	display: flex;
}
/* ----STICKY NAV---- */
.sticky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.93);
	box-shadow: 0 2px 2px #dddddd;
	z-index: 9999;
}

.sticky .main-nav li a:link, 
.sticky .main-nav li a:visited {
	padding: 15px 0;
	color: #555;
}

.sticky .main-nav {padding-top: 15px;}

/*--------------------------------------*/
/* STICKY BUTTON */ 
/*--------------------------------------*/
/* .fix-me{
	position:fixed;
	margin-right:0;
	margin-top: 440px;
	color:#38a1db;
	border:4px solid #5DADE2;
	background-color: #fff;
	font-size:24px;
	border-radius: 10%;
	-webkit-border-radius: 10%;
	-moz-border-radius: 10%;
	-ms-border-radius: 10%;
	-o-border-radius: 10%;
	text-decoration: none;
} */

/*--------------------------------------*/
/* ABOUT ME */ 
/*--------------------------------------*/
.about{
	/* padding: 80px 50px 20px 50px; */
	color: #fff;
	background-color: black;
	padding-top: 3%;
	
}

.about-btn {
	/* margin: 5% 0 5% 65%;	 */
	padding: 20px 19px 100px 0;
}
.about-btn-group {
	display: flex;
	justify-content: flex-end;
	
}


.jumbotron {
	margin: 0 4% 0 4%;
	background-color: black;
}
/*--------------------------------------*/
/* CONTACT */ 
/*--------------------------------------*/
.contact {
	background: linear-gradient(#dfdfdf, white, white, white, #dfdfdf)
}
/*--------------------------------------*/
/* EXPERIENCE AND EDUCATION */ 
/*--------------------------------------*/
#experienceSection {
	padding: 1% 2% 0 2%;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.img-square-wrapper {
	
}

.experience-img {
	height: 25vh;
}

.education-card {
	text-align: center;
	padding: 4% 0 1% 0;

}

.fa-circle {
	font-size: 20%;
}

.about-btn2 {
	margin: 5% 0 5% 5%;
}

/*--------------------------------------*/
/* TECH STACK */ 
/*--------------------------------------*/
.technologies {
	background: linear-gradient(#dfdfdf, white, white, white, #dfdfdf);
	padding-bottom: 10%;
}

.img {
	width: 10vw;
	
}

.logo {
	text-align: center;
	padding: 15px;
}



.logos-container-row1, .logos-container-row2 {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-content: space-around;
}

/*--------------------------------------*/
/* PORTFOLIO */ 
/*--------------------------------------*/
.link-group {
	padding-top: 10px;
	padding-bottom: 18px;
	display: flex;
	
	justify-content: space-between;
}

.middle-link {
	
	padding-right: 20px;
	padding-left: 20px;
	
}

.portfolio-sub {
	text-align: center;
	color: grey;
}

.section-portfolio {
	padding-bottom: 8%;
	
}


/*--------------------------------------*/
/* FOOTER */ 
/*--------------------------------------*/
/* footer {
	padding-top: 10%;
} */

.footer-name {
	color: black;
	font-weight: bolder;
}

.footer-list {
	display: flex;
	justify-content: center;
}

.social-item {
	padding: 0 15px 0 15px;
}
/*--------------------------------------*/
/* media queries */ 
/*--------------------------------------*/
/* @media (min-width: 768px) {
  .modal-xl {
    width: 90%;
   max-width:1200px;
  }
} */

/* .modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.modal-content {
  height: auto;
  min-width: 70%;
  border-radius: 0;
} */
/* 
.modal-header .close {
	color: rgb(0, 0, 0); 
	opacity: 1;
}

.close span {
	color: black;
}

.close {
	color: rgb(0, 0, 0); 
	opacity: 1;
	font-size: larger;
} */

.grow { 
	transition: all .2s ease-in-out; 
	}
	
	.grow:hover { 
	transform: scale(1.1); 
	}

	/* For Mobile */
/* ----------- iPhone 6+, 7+ and 8+, x and tablet ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
		font-size: 16px;
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
		.text-box {
		font-size: 16px;
}}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
		font-size: 16px;
}